.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 30px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
  font-weight: 100;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 750px;
  margin: 40px auto;
}

.weather-app {
  font-family: "Abel", sans-serif;
  padding: 35px;
  border: 1px transparent;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
  margin-bottom: 35px;
}

.weather-temperature strong {
  font-size: 90px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -50px;
}

.weather-week:hover {
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
  border: transparent;
  border-radius: 10px;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
}

.weather-forecast-temperature {
  font-size: 15px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
